<a href="https://colab.research.google.com/github/pranscript/ml_coursework/blob/master/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Import Statements*

In [0]:
import pandas as pd
from google.colab import files
import io

## Train.csv and Test.csv loaded

In [6]:
uploaded1 = files.upload()

Saving train.csv to train.csv

In [8]:
uploaded2 = files.upload()

Saving test.csv to test.csv

In [0]:
train_df = pd.read_csv(io.StringIO(uploaded1['train.csv'].decode('utf-8')))
test_df = pd.read_csv(io.StringIO(uploaded2['test.csv'].decode('utf-8')))
out = train_df.append(test_df)

## Datatypes of features

In [78]:
out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

## Features in dataset

In [79]:
list(out.columns)

['Age',
 'Cabin',
 'Embarked',
 'Fare',
 'Name',
 'Parch',
 'PassengerId',
 'Pclass',
 'Sex',
 'SibSp',
 'Survived',
 'Ticket']

## Null features in dataset

In [69]:
out.columns[out.isnull().any()]

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Survived'], dtype='object')

## Count, mean, std, min, 25% percentile, 50% percentile, 75% percentile, max of numerical features

In [70]:
perc =[.25, .50, .75] 
out[['SibSp','Parch','Age','Fare']].describe(percentiles = perc)

             SibSp        Parch          Age         Fare
count  1309.000000  1309.000000  1046.000000  1308.000000
mean      0.498854     0.385027    29.881138    33.295479
std       1.041658     0.865560    14.413493    51.758668
min       0.000000     0.000000     0.170000     0.000000
25%       0.000000     0.000000    21.000000     7.895800
50%       0.000000     0.000000    28.000000    14.454200
75%       1.000000     0.000000    39.000000    31.275000
max       8.000000     9.000000    80.000000   512.329200

## Count, unique, top, freq of categorical features

In [75]:
out['Survived'] = out['Survived'].astype(object)
out['Pclass'] = out['Pclass'].astype(object)

out[['Embarked','Sex','Survived','Pclass']].describe()

       Embarked   Sex  Survived  Pclass
count      1307  1309     891.0    1309
unique        3     2       2.0       3
top           S  male       0.0       3
freq        914   843     549.0     709